# Node.js (nvm) - 北京外国语大学镜像
export NVM_NODEJS_ORG_MIRROR="{{ .mirrors.node }}"

# Node.js (fnm) - 北京外国语大学镜像
export FNM_NODE_DIST_MIRROR="{{ .mirrors.node }}"

# Rust (rustup) - rsproxy 镜像
export RUSTUP_DIST_SERVER="{{ .mirrors.rust }}"
export RUSTUP_UPDATE_ROOT="{{ .mirrors.rust }}/rustup"
