{{- if ne .chezmoi.os "linux" }}
.makepkg.conf
.zsh/mirrors.zsh
.config/go/
.config/fcitx5/
.config/environment.d/
.config/pipewire/
.local/
{{- end }}

{{- if not (env "KDE_SESSION_VERSION")  }}
.config/dolphinrc
.config/ktimezonedrc
.config/mimeapps.list
.config/plasma-localerc
{{- end}}

# 包清单仅作为数据源，不部署到 home 目录
packages/
